@model  OvoTest.Models.CustomerViewModel
@{
    ViewBag.Title = "OVO Customers";
}

<h2>OVO Customers</h2>
@foreach(var customer in Model.Customers)
{
    <div id="customer">
        <img src="~/Images/head.jpg"/>
        @Html.ActionLink(customer.titleAndFullName, "CustomerDetails", new { id = customer.id})
    </div>
}